[data-theme="light"] {
  --bg-color: #EEEDEB;
  --font-color: #2F3645;
  --nav-bg-color: #FFF8F3
}

[data-theme="dark"] {
  --bg-color: #2F3645;
  --font-color: #EEEDEB;
  --nav-bg-color: #758694
}

body {
  margin: 0;
}

.main {
  padding: 30px;
  color: var(--font-color);
  background-color: var(--bg-color);
  height: 92vh;
}

.nav {
  display: flex;
  align-items: center;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  color: var(--font-color);
}


.nav-items {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.btn {
  margin-right: 20px;
  position: relative;
  height: 20px;
  width: 40px;
  border: 1px solid blue;
  border-radius: 20px;
  transition: 0.5s;
}


.slider-ball {
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  top: 1px;
  left: 2px;
  height: 16px;
  width: 16px;
  transition: 0.5s;
  cursor: pointer;
}

.btn input:checked + .slider-ball {
  transform: translateX(18px);
}

.checkbox {
  appearance: none;
}